<%= link_to "Back to all users", admin_users_path %>
<h2>Edit user information</h2>
<%= render 'form' %>
<p><%= link_to "Delete user", admin_user_path(@user), method: :delete, 'data-confirm': "You sure?" %></p>